**Exercise 2: Create markdown cell with title of the notebook**

Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# **Data Science Tools and Ecosystem**

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List data science languages
* List data science libraries
* Tabulate data science tools
* Multiply, add, and divide numbers

**Exercise 4 - Create a markdown cell to list data science languages**

"Some of the popular languages that Data Scientists use are:"
1. Python
2. R
3. Java

**Exercise 5 - Create a markdown cell to list data science libraries**

"Some of the commonly used libraries used by Data Scientists include:"
1. Matplotlib
2. Ggplot
3. Pandas

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

|**Data Science Tools**|
|----------------------|
|Pandas|
|Hadoop|
|Spark|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

Below are a few examples of evaluating arithmetic expressions in Python

**Exercise 8 - Create a code cell to multiply and add numbers**

This a simple arithmetic expression to multiply then add integers

In [4]:
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

**Exercise 10 - Insert a markdown cell to list Objectives**

Refer to Exercise 3

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## Author

Manisha